<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Area Admin - Libri</title>
</head>
<body>
 <h1 th:text="'Benvenuto ' + ${admin.nome} + ' ' + ${admin.cognome}"></h1>
<h2>PRODOTTI</h2>
<table>
    <tr th:each="prodotto : ${prodotti}">
        <td>
           <!-- <img th:src="@{$prodotto.immagine == null ? 'markerImage.png' : prodotto.immagine}}" style="max-height:100px"> -->
            <img th:if="${prodotto.immagine != null}"
                 th:src="${prodotto.immagine}"
                 alt="Immagine Prodotto" />
        </td>
        <td th:text="${prodotto.nome}"></td>
        <td th:text="${#numbers.formatDecimal(prodotto.prezzo, 0, 'POINT', 2, 'COMMA')} + ' € '"></td>
        <td th:text="${prodotto.descrizione}"></td>
        <td th:text="${prodotto.sottocategoria.marca}"></td>
        <td>
            <a th:href="@{/adminprodotti(id=${prodotto.id})}">Modifica</a>
            <a th:href="@{/adminprodotti/elimina(id=${prodotto.id})}">Elimina</a>
        </td>
    </tr>
</table>
<hr>
<form action="/adminprodotti" method="post" enctype="multipart/form-data">
    <input type="text" name="nome" th:value="${prodotto.nome}" required>
    <br>
    <input type="number" step="any" name="prezzo" th:value="${prodotto.prezzo}" required>
    <br>
    <input type="text" name="descrizione" th:value="${prodotto.descrizione}" required>
    <br>
    <select name="sottocategorie">
        <option th:each="sottocategoria : ${sottocategorie}"
                th:text="${sottocategoria.marca}"
                th:value="${sottocategoria.id}"
                th:selected="${prodotto.sottocategoria != null && sottocategoria.id == prodotto.sottocategoria.id}">
        </option>
    </select>
    <br>
    <input type="file" name="immagine">
    <br>
    <input type="submit" value="Registra">
</form>

<br>
<br>
<h2>GESTIONE OFFERTE</h2>
<table>
    <tr>
        <td>Marca</td>
        <td>Categoria</td>
        <td>Stato Offerta</td>
        <td>Offerta</td>
    </tr>
    <tr th:each="sottocategoria : ${sottocategorie}">
        <td th:text="${sottocategoria.marca}"></td>
        <td th:text="${sottocategoria.categoria.nome}"></td>
        <td th:text="${sottocategoria.statoOfferta == true ? 'Attiva' : 'Non Attiva'}"></td>
        <td th:text="${sottocategoria.statoOfferta == false ? '--' : sottocategoria.valoreOfferta.valore + '%'}"></td>
        <td>
            <a th:href="@{/adminprodotti/disattivaofferta(idSott=${sottocategoria.id})}">Disattiva Offerta</a>
        </td>
    </tr>
</table>


<h5>OFFERTE IN ARRIVO</h5>
<table th:if="${offerte != null}">
    <tr>
        <td>Marca</td>
        <td>Offerta</td>
        <td>Data Inizio</td>
        <td>Data Fine</td>
    </tr>
    <tr th:each="offerta : ${offerte}">
        <td th:text="${offerta.sottocategoria.marca}"></td>
        <td th:text="${offerta.valoreOfferta.valore} + '%'"></td>
        <td th:text="${offerta.dataInizio}"></td>
        <td th:text="${offerta.dataFine}"></td>
        <td>
            <a th:href="@{/adminprodotti(idOff=${offerta.id})}">Modifica</a>
            <a th:href="@{/adminprodotti/eliminaOff(idOff=${offerta.id})}">Elimina</a>
            <a th:href="@{/adminprodotti/attivaofferta(idOff=${offerta.id}, idSott=${offerta.sottocategoria.id}, idVal=${offerta.valoreOfferta.id})}">Rendi Attiva</a>
        </td>
    </tr>
</table>
<form action="/adminprodotti/aggiungiofferta" method="post" enctype="multipart/form-data">
    <select name="sottocategorie">
        <option th:each="sottocategoria : ${sottocategorie}"
                th:text="${sottocategoria.marca}"
                th:value="${sottocategoria.id}"
                th:selected="${offertainarrivo.sottocategoria != null && offertainarrivo.sottocategoria.id == sottocategoria.id}">
        </option>
    </select>
    <select name="valoriofferte">
        <option th:each="valore : ${valoreofferta}"
                th:text="${valore.valore + '%'}"
                th:value="${valore.id}"
                th:selected="${offertainarrivo.valoreOfferta != null && offertainarrivo.valoreOfferta.id == valore.id}">

        </option>
    </select>
    <input type="date" name="datainizio" th:value="${offertainarrivo.dataInizio}" required min="yyyy-mm-dd">
    <input type="date" name="datafine" th:value="${offertainarrivo.dataFine}" required onchange="controlloData()">

    <input type="submit" value="Registra">
</form>
    <script>
        var oggi = new Date();
        var giorno = oggi.getDate();
        var mese = oggi.getMonth()+1;
        var anno = oggi.getFullYear();

        var giornoStringa = giorno < 10 ? '0' + giorno : giorno;
        var meseStringa = mese < 10 ? '0' + mese : mese;

        var dataMinima = anno + '-' + meseStringa + '-' + giornoStringa;

        document.getElementsByName("datainizio")[0].min = dataMinima;

        function controlloData() {
            var dataInizio = document.getElementsByName("datainizio")[0].value;
            var dataFine = document.getElementsByName("datafine")[0].value;
            if (dataInizio > dataFine) {
                alert("La data di fine deve essere successiva alla data di inizio");
                document.getElementsByName("datafine")[0].value = "";
            }
        }

    </script>
</body>
</html>