

.navbar-brand img {
    margin-left: 7rem; /* Regola il margine sinistro del logo */
}

.navbar-nav {
    margin-right: 7rem; /* Regola il margine destro dell'elenco dei menu */
}

.navbar{
    background-color: #B9F18C;
    color: white;
    padding: 20px;
    height: 80px;
}


body {
    background-color: #dddd;
}

.grassetto {
    font-weight: bold;
}

.footer {
    background-color: #B9F18C;
    color: white;
    padding: 20px;
    height: 80px;
}

#containercard{
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner img {
    width: 100%;
    height: auto;
}