nav{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    height: 100px;
    background-color: red;
}

#hd-dx {
    display: flex;
    
}

#hd-dx ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#hd-dx ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hd-centro{
    display: flex;
    align-items: center;
}

#hd-sx